{% extends 'base.html' %}
{% block 'contents' %}

{% load i18n %}


<h5>{% trans "Categories: " %}</h5>
<div class="row">
    {% for gallery in gallery_list %}
    <div class="col s6 m3">
        <a href="{% url 'gallery:gallery-detail' gallery.slug %}">
            <div class="card small">
                <div class="card-image">
                    <img class="img-fluid card-img-top" src="{{ gallery.photos.first.get_thumbnail_url }}"
                        alt="{{ gallery.photos.first.caption }}" />
                </div>

                <div class="card-content grey-text text-darken-4">
                    <span class="card-title green-text text-darken-2">{{ gallery.title }}</span>
                    <p>{{ gallery.description }}</p>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>


{% endblock %}