{% extends 'base.html' %}
{% block 'contents' %}

{% load i18n %}
{% load thumbnail %}



<div class="row center-align">
    <div class="col s4">
        {% if prev %}
        <a class="btn green darken-2 flow-text"
            href="{% url 'gallery:entry_pk' prev.pk %}">{% trans "Previous: " %}{{ prev.label }}</a>
        {% endif %}
    </div>

    <div class="col s4">
        {% if parent %}
        <a class="btn green darken-2 flow-text"
            href="{% url 'gallery:entry_pk' parent.pk %}">{% trans "Back: " %}{{ parent.label }}</a>
        {% elif not at_gallery_home %}
        <a class="btn green darken-2 flow-text" href="{% url 'gallery:index'%}">{% trans "Back to Gallery Home" %}</a>
        {% endif %}
    </div>

    <div class="col s4">
        {% if next %}
        <a class="btn green darken-2 s2 flow-text"
            href="{% url 'gallery:entry_pk' next.pk %}">{% trans "Next: " %}{{ next.label }}</a>
        {% endif %}
    </div>
</div>


{% if elem %}
<div class="card">
    <div class="card-image">
        <img class="img-fluid card-img-top" src="{{ elem.image.image.url }}" alt="" />
        <span class="card-title">{{ elem.label }}</span>
    </div>

    <div class="card-content">
        <p>{{ elem.description }}</p>
    </div>
</div>
{% endif %}


<div class="row">
    {% for entry in entries %}
    <div class="col s3">
        <a href="{% url 'gallery:entry_pk' entry.pk %}">
            <div class="card small">
                <div class="card-image">
                    {% with img=entry.image.image|thumbnailer %}
                    <img class="img-fluid card-img-top" src="{{ img.medium_4_3.url }}" alt="" />
                    {% endwith %}
                    <span class="card-title">{{ entry.label }}</span>
                </div>

                <div class="card-content grey-text text-darken-4">
                    <p>{{ entry.description }}</p>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>


{% endblock %}