{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>{{title}} - kapno.cc</title>

    <link rel="icon" href="{% static 'favicon.ico' %}" />


    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <link rel="stylesheet" href="{% static 'style/global.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap" rel="stylesheet" />
</head>

<body>


    <header>
        <nav class="nav-extended grey darken-4">
            <div class="container">
                <div class="nav-wrapper">
                    <a class="brand-logo center">kapno.cc</a>

                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        {% get_available_languages as LANGUAGES %}
                        {% for lang in LANGUAGES %}
                        <li>
                            <form action="{% url 'set_language' %}" method="post">
                                {% csrf_token %}
                                <input name="language" type="hidden" value="{{ lang.0 }}" />
                                <button class="btn-flat nav-link white-text" type="submit">
                                    {{ lang.0 }}
                                </button>
                            </form>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="divider green darken-2"></div>
                <div class="section"></div>

                <div class="nav-content">
                    <ul class="tabs tabs-transparent">
                        <li><a class="nav-link" href="{% url 'home:index' %}">{% trans "Home" %}</a></li>
                        <li><a class="nav-link" href="{% url 'gallery:index' %}">{% trans "Gallery" %}</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- grey darken-4
        green darken-2 -->

    <main>
        <div class="container">

            <h5 class="center-align m2">{{title}}</h5>

            {% block 'contents' %}
            {% endblock %}

        </div>
    </main>

    <footer class="page-footer grey darken-4">
        <div class="container">
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>

</html>