{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>{{title}} - kapno.cc</title>

    <link rel="icon" href="{% static 'favicon.ico' %}" />

    <link rel="stylesheet" href="{% static 'style/global.css' %}" />

    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap" rel="stylesheet" />
</head>

<body>

    <div class="header-wrap">
        <div class="header-title">
            <h1>kapno.cc</h1>
        </div>
        <nav class="navbar">
            <ul>
                <li>
                    <a href="{% url 'home:index' %}">{% trans "Home" %}</a>
                </li>
                <li>
                    <a href="{% url 'home:aled' %}">{% trans "Aled" %}</a>
                </li>
                <li>
                    <a href="/oskour/">Oskour</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="title-wrap">
        <h2>{{title}}</h2>
    </div>

    <div class="contents-wrapper">
        <div class="contents">
            {% block 'contents' %}
            {% endblock %}
        </div>
    </div>

    <div class="footer">

        <div class="lang-select-wrapper">
            <ul>
                {% get_available_languages as LANGUAGES %}
                {% for lang in LANGUAGES %}
                <form action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <input name="language" type="hidden" value="{{ lang.0 }}" />
                    <button class="lang-select-wrapper-button" type="submit">{{ lang.1 }} ({{ lang.0 }})</button>
                </form>
                {% endfor %}
            </ul>
        </div>
    </div>

</body>

</html>