
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Mono", monospace;
    font-weight: normal;
}


/*
 *  HEADER
 */
.brand-logo {
    font-family: "Roboto Mono", monospace;
    font-weight: normal;
}

a.nav-link {
    padding-bottom: 10px;
}

.nav-link {
    border-bottom: .125em solid transparent;
}

.nav-link:hover {
    border-bottom: .125em solid rgba(255,255,255,.75);
}


/*
 *  make footer stick to the bottom (but not fixed)
 */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}